.browse-happy {
  padding: 8px;
  font-size: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
}

#header {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  z-index: 2;
  color: #ddd;
  background: rgb(100,100,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
}

[ng-click] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.ed-btn {
  width: 40px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

#header .ed-btn:hover,
#header .ed-btn:active {
  color: #fff;
}

#header .ed-btn.disabled {
  cursor: not-allowed;
  color: #222;
}

#header .ed-btn.checked {
  border: 1px solid #fbeed5;
  border-radius: 4px;
  margin: 2px;
  line-height: 34px;
  width: 36px;
}

#ed-body {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}

#sidebar {
  width: 210px;
  height: 100%;
  float: left;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 1px 2px 2px #ddd;
  -moz-box-shadow: 1px 2px 2px #ddd;
  box-shadow: 1px 2px 2px #ddd;
}

#sidebar-nav {
  height: 40px;
  line-height: 40px;
  width: 100%;
}

#sidebar-nav, .show-bar {
  background: rgb(240,240,240); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
}

.ed-nav-btn {
  width: 60px;
  height: 40px;
  color: #666;
}

.ed-nav-btn:hover {
  border-bottom: 1px solid #23b7e5;
  color: #000;
}

.ed-nav-btn.active {
  border-bottom: 3px solid #23b7e5;
  color: #000;
}

#hide-sidebar {
  float: right;
  color: #666;
}

#hide-sidebar:hover,
.show-bar:hover {
  color: #000;
}

#board {
  margin-left: 210px;
  height: 100%;
}

#board div {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

#jxgbox {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  text-align: center;
}

.show-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  font-size: 16px;
  color: #666;
}

#show-sidebar {
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#sidebar-list {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 210px;
  overflow: auto;
}

.nav > li.active {
  border-left: 2px solid #23b7e5;
}

.nav > li.active {
  border-left: 2px solid #23b7e5;
}

.option-label {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

div button.pull-right {
  width: 40px;
}

.form-actions {
  margin-bottom: 4px;
}

.options-section {
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}

.form-group button {
  height: 26px;
  padding: 2px;
}

.popover {
  color: #666;
}

.popover-content {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 1000px;
  padding-top: 0;
}

@media (max-height : 1200px) {
  .popover-content {
    max-height: 900px;
  }
}

@media (max-height : 1024px) {
  .popover-content {
    max-height: 780px;
  }
}

@media (max-height : 800px) {
  .popover-content {
    max-height: 570px;
  }
}

@media (max-height : 650px) {
  .popover-content {
    max-height: 500px;
  }
}

@media (max-height : 570px) {
  .popover-content {
    max-height: 380px;
  }
}

@media (max-height : 420px) {
  .popover-content {
    max-height: 320px;
  }
}

@media (max-height : 380px) {
  .popover-content {
    max-height: 220px;
  }
}

.toolbox-group {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.toolbox-titlebar {
  height: 26px;
  line-height: 26px;
}

.toolbox-titlebar > :last-child {
  float: right;
  width: 16px;
}

.toolbox-titlebar:hover {
  background-color: #eee;
}

.prop-item {
  padding: 8px;
}

.prop-head {
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.prop-item > :first-child {
  height: 26px;
}

.prop-item > div > :nth-child(n+2) {
  float: right;
}

.prop-item input {
  width: 68px;
  height: 26px;
  text-align: center;
}

.prop-item button {
  width: 68px;
  padding: 2px;
}

.prop-item button.prop-btn-s {
  width: 26px;
}

.prop-item button.prop-btn-m2 {
  width: 33px;
}

.prop-item select {
  width: 94px;
}

.prop-item > :nth-child(n+2) > :first-child {
  padding-left: 2px;
}

.prop-item input + input,
.prop-item button + button {
  margin-right: 2px;
}

.prop-item div[ng-switch-when=lineEndings] > button {
  width: 38px;
  height: 26px;
}

.prop-item input[ng-switch-when=xy] {
  width: 54px;
}

.color-box {
  width: 26px;
  height: 26px;
  text-align: center;
  border: 2px solid transparent;
}

.prop-item div[ng-switch-when=color] {
  height: 68px;
}

.prop-color-group {
  border: 1px solid #777;
  border-radius: 6px;
  width: 154px;
}

.prop-color {
  width: 36px;
  height: 20px;
  float: left;
  margin: 1px;
}

.prop-color.active {
  border: 2px solid blue;
  border-radius: 4px;
  margin: 0;
  width: 38px;
  height: 22px;
}

.prop-color-0 {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 36px solid #ccc;
  border-radius: 4px 0 0 0;
}

.prop-color-3 {
  border-radius: 0 4px 0 0;
}

.prop-color-8 {
  border-radius: 0 0 0 4px;
}

.prop-color-11 {
  border-radius: 0 0 4px 0;
}

input[colorpicker] {
  text-align: left;
}

input[type=range] {
  width: 100%;
  margin: 6.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  height: 6.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bdbdbd;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #dcdcdc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 6.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dcdcdc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fbfbfb;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.active:focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 3px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-default:hover {
  background-color: #eee;
}
.btn-default:focus,
.btn-default.focus {
  background-color: #fff;
}
.btn-default:active,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:focus,
.btn-default.active.focus {
  background-color: #e6e6e6;
}
.btn-default:active:hover,
.btn-default.active:hover {
  background-color: #ccc;
}

.pillbox-container {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 0;
  width: 0;
}

.zoom-container {
  float: right;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
  background: #f0f0f0;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 37px;
  margin-bottom: 6px;
  text-align: center;
  color: #666;
  font-size: 16px;
  text-shadow: 0 1px #fff;
}

.zoom-container > div {
  height: 35px;
  line-height: 35px;
}

.zoom-container > div.active,
.zoom-container > div:hover {
  color: #000;
}

.zoom-container > :nth-child(n+2) {
  border-top: 1px solid #ddd;
}
