<div id="sidebar-nav">
  <span ng-repeat="v in sidebar.views"
        class="ed-btn ed-nav-btn"
        ng-click="sidebar.go(v.state)"
        ng-class="{active: sidebar.state === v.state}"
        data-trigger="{{tooltip.show?'hover':'manual'}}"
        data-placement="bottom"
        data-title="{{(v.state|camelCase|translate)}}"
        bs-tooltip>
    <i class="fa fa-{{v.icon}}"></i>
  </span>
  <span class="ed-btn" id="hide-sidebar"
        ng-click="sidebar.toggleVisible()"
        data-trigger="{{tooltip.show?'hover':'manual'}}"
        data-placement="bottom"
        data-title="{{'HideSidebar'|translate}}"
        bs-tooltip>
    <i class="fa"></i>
  </span>
</div>
<div id="sidebar-list" ui-view></div>